@attribute [Route(RouteConstants.AddPlugIn)]

<h3>Upload a Decksteria Plug-In (DLL)</h3>

<h4>Saved Plug-Ins</h4>

<div class="pluginlist">
    @if (!string.IsNullOrWhiteSpace(ErrorMessage))
    {
        <div class="alert alert-danger">
            @ErrorMessage
        </div>
    }
    <button class="mainbutton" type="submit" @onclick="UploadFileOnClickAsync" disabled="@ProcessingInProgress">Upload File</button>
    <table>
        <tr>
            <th>Test</th>
            <th>Plug-In</th>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
        </tr>
        @foreach(var plugIn in GameList!)
        {
            <tr>
                <td width="30">
                    @if(plugIn.IconSrc != null)
                    {
                        <img src="@plugIn.IconSrc" />
                    }
                </td>
                <td valign="middle">@plugIn.DisplayName</td>
            </tr>
        }
    </table>
</div>